<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Any suggestion, query, bug reports, security issues etc. are most welcome! This is Beta Version of the App!
  Please send all the feedback to ari0997@gmail.com. Thanks!
</p>